/*+++++++++++++++++++++++++++++++EVENT RESULTS+++++++++++++++++++++++++++++++*/

.eventleaderboardheader{
	font-size:12pt;
	text-align:center;
	border:1px solid #ccc;
	padding-top:15px;
	padding-bottom:15px;
}

/*-------------EVENT IS OVER - LARGE SCREENS --------------------*/

.standingstable{
	
}

.standingsrow{
	
}

.standingsrow .cell{
	padding:0px;
	height:55px;
}

.standingsuser{
	line-height:55px;
	border-bottom:1px solid #ccc;
}

.standingsresults{
	padding:0px;
	text-align:center;
}

.standingssurfer{
	background-color:#ddd;
}

.standingssurfer span{
	margin-top:15px;
}

.standingswin{background-color:#d4f9a7;color:#36402B;}
.standingsact{background-color:#ddd;color:#404040;}
.standingsrel{background-color:#C5D2FF;color:#313440;}
.pts500{background-color:#f45b41;color:#401811;}
.pts1750{background-color:#f47a42;color:#402011;}
.pts4000{background-color:#f49541;color:#402711;}
.pts5200{background-color:#f4b541;color:#402F11;}
.pts6500{background-color:#f4b841;color:#403011;}
.pts8000{background-color:#f4d041;color:#403611;}
.pts10000{background-color:#f4d041;}/*won the event*/
.standingsinj{background-color:black;color:#404040;}/*injured*/

.outsurfer{
	margin-top:-5px;
	font-size:11pt;
}

.outpoints{
	font-size:6pt;
}

.standingsscores{
	line-height:55px;
	font-weight:900;
	background-color:#ddd;
}

/*-------------EVENT IS OVER - SMALL SCREENS --------------------*/

.sm-standingstable{
	
}

.sm-standingsrow{
	margin-top:15px;
}

.sm-standingsuser{
	font-size:11pt;
	padding-left:10px;
}

.sm-standings-total{
	font-size:11pt;
	text-align:right;
	padding-right:10px;
}

.sm-surfersrow{
	
}

.sm-standingssurfer{
	height:50px;
	text-align:center;
	border-bottom:1px solid white;
}

.sm-standings-surfername{
	font-size:8pt;
}

.sm-standings-surferpoints{
	font-size:8pt;
}

/*-------------EVENT IS LIVE - LARGE SCREENS --------------------*/
.liveunsurfed{
	background-color:#ccc;
}

.livewon{
	background-color:#c6ffc9;
}


.lg-livetotal{
	border:1px solid black;
}

.lg-livepredictions{
	border:1px solid black;
}

.lg-bestscore{
	font-size:8pt;
	font-weight:900;
	color:green;
}

.lg-worstscore{
	font-weight:900;
	font-size:8pt;
	color:red;
}

.livescores{
	background-color:#eee;
	border-bottom:1px solid white;
}

.bestscore{
	margin-top:5px;
	font-weight:900;
	font-size:6pt;
	color:green;
}

.livetotal{
	font-weight:900;
	font-size:10pt;
}

.worstscore{
	font-weight:900;
	font-size:6pt;
	color:red;
}


/*-------------EVENT IS LIVE - SMALL SCREENS --------------------*/

.sm-standings-livescores{
	text-align:center;
	font-size:9pt;
	font-weight:900;
	border:1px solid blue;
}


.sm-livetotal{font-size:12pt;border:1px solid black;}
.sm-bestscore{color:green;padding-top:2pt;border:1px solid green;}
.sm-worstscore{color:red;padding-top:2pt;border:1px solid red;}


/*+++++++++++++++++++++++++++++++EVENT LEADERBOARD+++++++++++++++++++++++++++++++*/

/*-------------EVENT IS OVER - LEADERBOARD - LARGE SCREENS --------------------*/

/*title of the leaderboard*/
.leaguestandingsheader{
	font-size:12pt;
	text-align:center;
	border:1px solid #ccc;
	padding-top:15px;
	padding-bottom:15px;
}

/*contains the overall leaderboard*/
.leaguetable{
	
}

/*leaderboard table headers*/
.league-title-row{}

.leaderboard-title-username{}

.leaderboard-title-results{}

.leaderboard-title{
	text-align:center;
	width:8%;
	cursor:pointer;
	overflow:hidden;
}

.title-expanded{
	width:20%;
}

.leaderboard-title-total{text-align:center;}

/*leaderboard content*/
.leaguerow{
	height:50px;
	background-color:#f2f2f2;
}

.odd1{
	background-color:#d9d9d9;
}
	
.leaderboard-username{
	
}

.lb-user-team-lg{
	font-size:10pt;
}

.lb-user-name-lg{
	float:left;
	font-size:8pt;
}

.lb-user-team-md{
	font-size:8pt;
}

.lb-user-team-sm{
	font-size:10pt;
}
	
.ranking{
	padding-right:2px;
	font-size:8pt;
}
	
.leaderboard-user-results{
	
}

.leaderboard-result{
	height:50px;
	padding-top:13px;
	text-align:center;
	width:8%;
	cursor:pointer;
	overflow:hidden;
	border-left:1px solid #ccc;
	padding-left:4px;
	border-right:4px solid #f2f2f2;
}

.odd1 .leaderboard-result{
	border-right:4px solid #d9d9d9;
}


.result-expanded{
	width:20%;
	border:0px;
	border-left:1px solid #ccc;
}

.column-highlighted{
	background-color:#ffffcc;
	border:0px;
	border-left:1px solid #ccc;
}

.odd1 .column-highlighted{
	background-color:#ffffe6;
	border:0px;
	border-left:1px solid #ccc;
}

.row-highlighted{
	background-color:#ffffcc;
}

.row-highlighted .leaderboard-result{
	border-right:0px solid black;
}

.odd1 .row-highlighted{
	background-color:#ffffe6;
}

.cell-highlighted{
	background-color:yellow;
}

.odd1 .cell-highlighted{
	background-color:yellow;
}

.leaderboard-total{
	height:50px;
	padding-top:13px;
	text-align:center;
	border-left:1px solid #ccc;
}

.result-clicked{
	border-bottom:3px solid black;
}

.odd1 .result-clicked{
	border-bottom:3px solid black;
}

.teamscore-hidden{
	
}

.teamscore-visible{

}

.scoresrow{
	background-color:black;
	color:#ccc;
	padding:10px;
	padding-bottom:20px;
}


.team-surfer-name{
	height:40px;
	border-bottom:1px solid #ccc;
	padding-top:7px;
	padding-left:5px;
	
}

.team-surfer-score{
	height:40px;
	padding-top:7px;
	padding-left:5px;
	border-bottom:1px solid #ccc;
	padding-top:7px;
	padding-left:5px;
	text-align:right;
}


/*-------------EVENT IS OVER - LEADERBOARD - SMALL SCREENS --------------------*/

.sm-lb-row{
	background-color:#ddd;
	border-bottom:1px solid white;
	cursor:pointer;
}

.sm-lb-chng{
	height:50px;
	padding-top:18px;
	padding-right:2px;
	font-size:8pt;
	text-align:center;
}

.sm-lb-username{
	height:50px;
	padding-top:13px;
}

.sm-lb-total{
	height:50px;
	padding-top:13px;
	padding-right:15px;
	text-align:right;
}

.sm-lb-expanduser{
	height:50px;
	padding-top:12px;
	text-align:center;
}

.sm-lb-event-row{
	background-color:#eee;
	border-bottom:1px solid white;
	cursor:pointer;
}
	
.sm-lb-eventname{
	height:50px;
	padding-left:15px;
	padding-top:12px;
}
	
.sm-lb-eventscore{
	height:50px;
	padding-top:12px;
	text-align:right;
	padding-right:15px;
}
	
.sm-lb-expandevent{
	height:50px;
	padding-top:12px;
	text-align:center;
}

.sm-lb-surfers-row{
	border-bottom:1px solid #ddd;
}

.sm-lb-surfer{
	height:50px;
	padding-right:10px;
	padding-top:12px;
	text-align:right;
}
	
.sm-lb-score{
	height:50px;
	padding-top:12px;
	text-align:right;
	padding-right:15px;
}



