
.teamname{
	
}

.teamuser{
	
}

.startingsurfer {
	
}

.benchedsurfer{
	
}

.outsurfer{
	
}

.bestscorer{
	
}

.bestavailscorer{

}

.teamsurfername{
	font-weight:900;
	text-align:left;
	padding-left:10px;padding-right:0px;padding-top:13px;padding-bottom:13px;
}

.teamsurferpos{
}

.teamsurferscore{
}

.startingscore{
	
}

.bestscore{
	
}

.pos1{}
.pos2{}
.pos3{}
.pos5{}
.pos9{}
.pos13{}
.pos25{}

