
.teamname{
	font-weight:900;
	text-align:center;
	font-size:25pt;
	background-color:#ddd;
}

.teamuser{
	font-weight:300;
	text-align:center;
	font-size:15pt;
	background-color:#ddd;
	margin-bottom:10px;
}

.startingsurfer {
	
}

.benchedsurfer{
	margin-bottom: 1px;
}

.benchedsurfer .cell{
	
}

.outsurfer{
	
}

.outsurfer .cell{
	
}

.bestscorer .teamsurferpos{
	border-left:3px solid #ffd699;
}

.bestavailscorer{
	
}

.teamsurfername{
	font-weight:900;
	text-align:left;
	padding-left:10px;padding-right:0px;padding-top:13px;padding-bottom:13px;
	border-bottom: 1px solid #d9d9d9;
}

.teamsurferpos{
	font-weight:900;
	text-align:center;
	font-size:8pt;
	padding-top:17px;padding-bottom:13px;
	border-bottom: 1px solid #d9d9d9;
}

.teamsurferscore{
	font-weight:300;
	padding-top:13px;padding-bottom:13px;
	border-bottom: 1px solid #d9d9d9;
}

.startingscore .cell{
	font-weight:900;
	text-align:left;
	padding-left:0px;padding-right:0px;padding-top:17px;padding-bottom:17px;
	margin-bottom:15px;	
	background-color:#f2f2f2;	
}

.availablestitle{
	font-weight:900;
	font-size:10pt;
	text-align:left;
	padding-left:0px;padding-right:0px;padding-top:17px;padding-bottom:17px;
	border-top: 3px solid #f2f2f2;	
}

.bestscore .cell{
	font-weight:900;
	text-align:left;
	padding-left:0px;padding-right:0px;padding-top:17px;padding-bottom:17px;
	margin-bottom:15px;	
	background-color:#f2f2f2;	
}

.bestavailscore .cell{
	font-weight:900;
	text-align:left;
	padding-left:0px;padding-right:0px;padding-top:17px;padding-bottom:17px;
	margin-bottom:15px;	
	background-color:#f2f2f2;	
}

.pos1{}
.pos2{}
.pos3{}
.pos5{}
.pos9{}
.pos13{}
.pos25{}

